?{% extends 'users/base.html' %}
{% load static %}

{% block title %}Establecer nueva contraseña{% endblock %}

{% block content %}
{% if validlink %}
<form method="post">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<div style="color: red; text-align: center; margin-bottom: 10px;">
		{% for error in form.non_field_errors %}
		<p>{{ error }}</p>
		{% endfor %}
	</div>
	{% endif %}
	<div class="entryarea">
		{{ form.new_password1 }}
		{% if form.new_password1.errors %}
		<div class="labelline" style="color: red;">{{ form.new_password1.errors.0 }}</div>
		{% else %}
		<div class="labelline">Nueva contraseña</div>
		{% endif %}
	</div>
	<div class="entryarea">
		{{ form.new_password2 }}
		{% if form.new_password2.errors %}
		<div class="labelline" style="color: red;">{{ form.new_password2.errors.0 }}</div>
		{% else %}
		<div class="labelline">Repite la contraseña</div>
		{% endif %}
	</div>
	<br>
	<input type="submit" value="Cambiar contraseña" id="btn">
	<br>
	<br>
	<div class="imagen">
		<img class="imagen1" src="{% static 'products/img/logo-coden1.png' %}" alt="">
	</div>
</form>
{% else %}
<div style="text-align:center; padding:40px 20px;">
	<div style="color: red; font-size:1.2em; margin-bottom:20px;">
		<p>El enlace es inválido o ya expiró.</p>
	</div>
	<div class="volver1" style="display:inline-block;">
		<a href="{% url 'users_app:user-forgotpassword' %}">Solicitar nuevo enlace</a>
	</div>
	<div style="margin-top:30px; text-align:center;">
		<img style="max-width:80px; max-height:80px;" src="{% static 'products/img/logo-coden1.png' %}" alt="">
	</div>
{% endif %}
{% endblock %}
